html{
    scroll-behavior: smooth;
}
.logo {
    height: 20vh;
    width: 100%;
    max-width: 100%; 
    object-fit: contain;
   
}
li{
    color:black;
    cursor: pointer;
}
.navbar {
    position: absolute;
    width: 100%;
    z-index: 3; /* Ensures it stays on top of other elements like images */
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  }
  li a{
    font-weight: bolder;
  }