<div class="container text-center">
    <header>
      <img class="logo" src="../assets/image.png">
    </header>
    <nav class="navbar navbar-expand-lg navbar-light ">
        <ul class="navbar-nav">
          <li >
            <a class="nav-link" routerLink="/" href="/"  routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
          </li>
          <li >
            <a class="nav-link" routerLink="/" href="/"  routerLinkActive="active" ariaCurrentWhenActive="page">పూజ విధానం</a>
          </li>
          <li >
            <a  class="nav-link" routerLink = "/contact" href="/contact"  routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
          </li>
        </ul>
    </nav>
</div>
<br><br>