<br>
<h1 class="text-center mandali-regular">Contact</h1>
<div class="container">
    <div class="l">
        <a class="mandali-regular" style="font-weight: bolder;font-size: 1.1rem;padding: 2px;text-decoration: none;color: green;">ధర్మకర్త </a>
        <a class="mandali-regular" style="font-weight: bolder;font-size: 1.3rem;padding: 2px;text-decoration: none;color: red;">శ్రీ నల్లందుల సిద్ధా రెడ్డి</a>
        <a class="mandali-regular" style="font-size: 1rem;padding: 2px;text-decoration: none;color: black;">సెల్.9490418078</a>
    </div>
    <div class="l">
        <a class="mandali-regular" style="font-weight: bolder;font-size: 1.1rem;padding: 2px;text-decoration: none;color: green;">అర్చకులు</a>
        <a class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 2px;text-decoration: none;color: red;">శ్రీ వేలవేటి బాలకృష్ణ</a>
        <a class="mandali-regular" style="font-size: 1rem;padding: 2px;text-decoration: none;color: black;">సెల్.9347580090</a>
    </div>
</div><br>
<div class="map">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15511.445756792798!2d79.37064960000001!3d13.6052736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb2b4b31c6cfbef%3A0x72e89acfeaf5a7c8!2sLord%20Krishna%20Temple!5e0!3m2!1sen!2sin!4v1728288925190!5m2!1sen!2sin"  width="300" height="250" style="border:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div><br>
<div class="directions text-center">
    <a class="btn btn-primary" href="https://maps.app.goo.gl/tg2HkZZoBuP1jMaF9" target="_blank">Get Directions</a>
</div>