<div class="container">
  <header>
    <img class="logo" src="../assets/image.png">
  </header>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
<br>
  <div class="slider-container">
    <div class="slides">
      <img *ngFor="let slide of slides; let i = index" [src]="slide" class="slide" [class.active]="i === currentSlide">
    </div>
    <button class="prev" (click)="changeSlide(-1)">&#10094;</button>
    <button class="next" (click)="changeSlide(1)">&#10095;</button>
  </div>
  <br>
  <div>
    <h2 style="color: red;text-align: center;font-weight: bolder;" class="mandali-regular">కృష్ణం వందే జ‌గ‌ద్గురుం</h2>
  </div>
<br>
  <div>
    <h2 style="color: red;text-align: center;font-weight: bolder;" class="mandali-regular">గోవింద మాల స్తోత్రావళి</h2>
  </div>
  <div class="card">
    <pre class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 3px;">
    ఓం నమోభగవతే  
  శ్రీ విఘ్నేశ్వర స్వామి పరబ్రహ్మనే నమః
  శ్రీ వరాహ స్వామి పరబ్రహ్మనే నమః
  శ్రీ గోవింద రాజు స్వామి పరబ్రహ్మనే నమః
  శ్రీ కృష్ణ స్వామి పరబ్రహ్మనే నమః
  శ్రీ ఆంజనేయ స్వామి పరబ్రహ్మనే నమః
  శ్రీ వరదరాజస్వామి పరబ్రహ్మనే నమః
  శ్రీ నరసింహ స్వామి పరబ్రహ్మనే నమః
  శ్రీ సీతా రామ స్వామి పరబ్రహ్మనే నమః
శ్రీ పార్వతీ పరమేశ్వరస్వామి పరబ్రహ్మనే నమః
  శ్రీ లక్ష్మీ వేంకటేశ్వరస్వామి పరబ్రహ్మనే నమః</pre>
  </div>
<br>
  <div class="card">
    <pre class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 3px;">
    శేషాద్రి నిలయా గోవిందా
    గరుడాద్రినిలయా గోవిందా
    పృషభాద్రి నిలయా గోవిందా 
    అంజనాద్రి నిలయా గోవింద
    నీలాద్రి  నిలయా గోవిందా
    వెంకటాద్రి నిలయా గోవిందా
    నారాయణాద్రి నిలయా గోవిందా
    తల్లి తండ్రివని గోవిందా
    మిమ్ము నమ్మితిమి గోవిందా
    మీ పదములనూ గోవిందా
    ఆశ్రయించింతమి గోవిందా
    మమ్ము బ్రోవుమూ గోవిందా
    మా మోరలింపుము గోవిందా
    శ్రీ శ్రీనివాస గోవిందా
    శ్రీ వెంకటేశ గోవిందా</pre>
  </div>
<br>
  <div class="card">
    <pre class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 3px;" >జ్ఞానము తోనూ అజ్ఞానము తోనూ తెలిసీ, 
తెలియక మేము చేయు సకల తప్పులను క్షమించి 
  మన్నించి  కాపాడ వలెను. 
తిరు నామము, 
శెంకుచక్రము, 
లక్ష్మి హారములు దరించి 
ఏడు కొండలపై వెలసియుండు 
ఓ కలియుగ వరదా
ఓ కోనేటిరాయా
         ఓ మలయప్ప స్వామి          
ఓ తిరుమలరాయా 
   ఓ వకుళా నందనా       
ఓ లక్ష్మీ వెంకటేశ్వర స్వామీ 
మీ పాదారవిందములే మాకు శరణం శరణం </pre>
  </div>
  <br>
  <div class="card">
    <pre class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 2px;"> ఓం నారాయణ ఓం నారాయణ ఓం నారాయణ 
      సర్వేజనా సుఖినోభవంతు 
      సమస్త సమంగళాని రస్తు
      పుత్తరోత్తరాభి వృద్ధి రస్తు 
      సర్వం శ్రీ సీతా రామచంద్రార్పణ మస్తు.
      సర్వం శ్రీ పార్వతీ పరమేశ్వరార్పణ మస్తు. 
      సర్వం శ్రీ లక్ష్మీ వేంకటేశ్వరార్పణమస్తు. 
    శాంతి-శాంతి- శాంతిః 
    హరిః ఓం తత్-సత్</pre>
  </div>
  <br>
  <br>


  
  
  
  
</div>