<div class="container text-center">
    <br>
      <div class="slider-container">
        <div class="slides">
          <img *ngFor="let slide of slides; let i = index" [src]="slide" class="slide" [class.active]="i === currentSlide">
        </div>
        <button class="prev" (click)="changeSlide(-1)">&#10094;</button>
        <button class="next" (click)="changeSlide(1)">&#10095;</button>
      </div>
      <br>
      <div>
        <h2 style="color: red;text-align: center;font-weight: bolder;" class="mandali-regular">కృష్ణం వందే జ‌గ‌ద్గురుం</h2>
      </div>
    <br>
      <div>
        <h2 style="color: red;text-align: center;font-weight: bolder;" class="mandali-regular">గోవింద మాల పూజ విధానం</h2>
      </div>
      <div class="card">
        <p class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 3px; text-align: center;">
     <a>ఓం నమోభగవతే</a>
    <a>శ్రీ విఘ్నేశ్వర స్వామి పరబ్రహ్మనే నమః</a>
    <a>శ్రీ వరాహ స్వామి పరబ్రహ్మనే నమః</a>
    <a> శ్రీ గోవింద రాజు స్వామి పరబ్రహ్మనే నమః</a>
    <a>శ్రీ కృష్ణ స్వామి పరబ్రహ్మనే నమః</a>
    <a>శ్రీ ఆంజనేయ స్వామి పరబ్రహ్మనే నమః</a>
    <a>శ్రీ వరదరాజస్వామి పరబ్రహ్మనే నమః</a>
    <a>శ్రీ నరసింహ స్వామి పరబ్రహ్మనే నమః</a>
    <a>శ్రీ సీతా రామ స్వామి పరబ్రహ్మనే నమః</a>
    <a>శ్రీ పార్వతీ పరమేశ్వరస్వామి పరబ్రహ్మనే నమః</a>
    <a>శ్రీ లక్ష్మీ వేంకటేశ్వరస్వామి పరబ్రహ్మనే నమః</a>
    <a></a>
  </p>
      </div>
    <br>
    
      <div class="card">
        <p class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 3px;text-align: center;">
    <a>శేషాద్రి నిలయా గోవిందా</a>
            <a>గరుడాద్రినిలయా గోవిందా</a>
            <a>పృషభాద్రి నిలయా గోవిందా </a>
            <a>అంజనాద్రి నిలయా గోవింద</a>
            <a>నీలాద్రి  నిలయా గోవిందా</a>
            <a>వెంకటాద్రి నిలయా గోవిందా</a>
            <a>నారాయణాద్రి నిలయా గోవిందా</a>
            <a>తల్లి తండ్రివని గోవిందా</a>
            <a>మిమ్ము నమ్మితిమి గోవిందా</a>
            <a>మీ పదములనూ గోవిందా</a>
            <a>ఆశ్రయించింతమి గోవిందా</a>
            <a>మమ్ము బ్రోవుమూ గోవిందా</a>
            <a>మా మోరలింపుము గోవిందా</a>
            <a>శ్రీ శ్రీనివాస గోవిందా</a>
            <a>శ్రీ వెంకటేశ గోవిందా</a></p>
      </div>
    <br>
    <div class="card" >
      
        <button type="button" class="btn" (click)="openModal()">
        <h1 class="mandali-regular" style="font-weight: bolder;">గోవింద నామాలు</h1>
          <img style="object-fit: contain;" src="../assets/govinda_namalu.webp">
        </button>
      
        <div class="modal fade" id="simpleModal" tabindex="-1" aria-labelledby="simpleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="mandali-regular" id="simpleModalLabel" style="text-align: center;">గోవింద నామాలు</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img  id="modalImage" src="../assets/govinda_namalu.webp">
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <br>
    
    
      <div class="card">
        <p class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 3px;" ><a>జ్ఞానము తోనూ అజ్ఞానము తోనూ తెలిసీ, </a>
            <a>తెలియక మేము చేయు సకల తప్పులను క్షమించి </a>
      <a>మన్నించి  కాపాడ వలెను.</a> 
      <a>తిరు నామము, </a>
      <a>శెంకుచక్రము, </a>
      <a>లక్ష్మి హారములు దరించి </a>
      <a>ఏడు కొండలపై వెలసియుండు </a>
      <a>ఓ కలియుగ వరదా</a>
      <a>ఓ కోనేటిరాయా</a>
      <a>ఓ మలయప్ప స్వామి   </a>       
      <a>ఓ తిరుమలరాయా </a>
      <a>ఓ వకుళా నందనా  </a>     
      <a>ఓ లక్ష్మీ వెంకటేశ్వర స్వామీ </a>
      <a>మీ పాదారవిందములే మాకు శరణం శరణం</a> </p>
      </div>
      <br>
      <div class="card">
        <p class="mandali-regular" style="font-weight: bold;font-size: 1.3rem;padding: 2px;"> <a>ఓం నారాయణ ఓం నారాయణ ఓం నారాయణ </a>
            <a>సర్వేజనా సుఖినోభవంతు </a>
            <a>సమస్త సమంగళాని రస్తు</a>
            <a>పుత్తరోత్తరాభి వృద్ధి రస్తు </a>
            <a>సర్వం శ్రీ లక్ష్మీ వేంకటేశ్వరార్పణమస్తు. </a>
            <a>సర్వం శ్రీ సీతా రామచంద్రార్పణ మస్తు.</a>
            <a>సర్వం శ్రీ పార్వతీ పరమేశ్వరార్పణ మస్తు. </a>
            <a>సర్వం శ్రీ ఆంజనేయార్పణ మస్తు</a>
            <a>సర్వం శ్రీ కృష్ణార్పణమస్తు</a>
            <a>శాంతి-శాంతి- శాంతిః </a>
            <a>హరిః ఓం తత్-సత్</a></p>
      </div>
      <br>
      <br> 
      
    </div>